*{
    padding: 0px;
}

body {
    color: rgb(217, 219, 223);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    background-color: #121214;   
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1f;
    text-align: center;
    border-radius: 12px;
    padding: 20px 50px;
}

header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header img {
    width: auto;
    height: 80px;
    border-radius: 50px;
}

h2 {
    margin-top: 40px;
}

li {
    list-style: none;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: rgb(43, 43, 46);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
}

li:hover {
    cursor: pointer;
    color: rgb(5, 5, 5);
    background-color: rgb(212, 212, 212);
    transition-duration: 0.2s;
}

img {
    width: 20px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}